@import "reset.css";

@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: skyblue;

  font-family: "KOTRAHOPE";
  font-size: 70px;
}

.title {
  margin-top: 50px;
}

.text_field {
  display: flex;
  margin-top: 200px;
}

.text_field-underline > li {
  display: flex;
  justify-content: center;
  width: 60px;
}

.text_field-underline {
  display: flex;

  position: absolute;
  z-index: -1;

  margin-top: 350px;
}

.text-input {
  margin-top: 140px;
  width: 100px;
  height: 100px;

  font-family: "KOTRAHOPE";
  font-size: 70px;
}

.hangman-images {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

#badSmile {
  display: none;
  position: absolute;
}

#smile {
  display: none;
  position: absolute;
}

#leftArm {
  display: none;
  position: absolute;

  margin: 90px 35px 0 0;
}

#rightArm {
  display: none;
  position: absolute;

  margin: 90px 0 0 35px;
}

#body {
  display: none;
  position: absolute;

  margin-top: 90px;
}

#leftLeg {
  display: none;
  position: absolute;

  margin: 150px 35px 0 0;
}

#rightLeg {
  display: none;
  position: absolute;

  margin: 150px 0 0 35px;
}

footer {
  margin-top: 320px;
}

.text_field--alphabet {
  display: flex;
  justify-content: center;
  width: 60px;
}

.l {
  visibility: hidden;
}

.o {
  visibility: hidden;
}

.v {
  visibility: hidden;
}

.e {
  visibility: hidden;
}

.b {
  visibility: hidden;
}

.r {
  visibility: hidden;
}

.i {
  visibility: hidden;
}

.m {
  visibility: hidden;
}

.n {
  visibility: hidden;
}

.g {
  visibility: hidden;
}
